<script setup lang="ts">
import { ref } from "vue";
const inputNum = ref(0);
</script>

<template>
  <v-container>
    <v-text-field
      label="Please input number"
      v-model.number="inputNum"
      :rules="[(v) => !!v || 'Number is not empty!!']"
      required
    ></v-text-field>
    <v-row>
      <v-col cols="1" v-for="index in inputNum" :key="index">
        {{ index }}
      </v-col>
    </v-row>
  </v-container>
</template>
