<script lang="ts" setup>
import { ref } from "vue";
const img = ref("../../feeling_imgs/smile.png");
const text = ref("Smile");
const change = function (id: number) {
  if (id == 0) {
    text.value = "Angry";
    img.value = "../../feeling_imgs/angry.png";
  } else if (id == 1) {
    text.value = "Cute";
    img.value = "../../feeling_imgs/cute.png";
  } else if (id == 2) {
    text.value = "Excited";
    img.value = "../../feeling_imgs/excited.png";
  } else if (id == 3) {
    text.value = "Pain";
    img.value = "../../feeling_imgs/pain.png";
  } else if (id == 4) {
    text.value = "Shocked";
    img.value = "../../feeling_imgs/shocked.png";
  } else if (id == 5) {
    text.value = "Smile";
    img.value = "../../feeling_imgs/smile.png";
  }
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="5">
        <v-img :src="img" width="400px"></v-img>
      </v-col>
      <v-col cols="1"></v-col>
      <v-col cols="6">
        <td>
          <div class="text-h4 text-center ma-2">{{ text }}</div>
          <v-btn @click="change(0)" width="650px" class="ma-2 btn">ANGRY</v-btn>
          <v-btn @click="change(1)" width="650px" class="ma-2 btn">CUTE</v-btn>
          <v-btn @click="change(2)" width="650px" class="ma-2 btn"
            >EXCITED</v-btn
          >
          <v-btn @click="change(3)" width="650px" class="ma-2 btn">PAIN</v-btn>
          <v-btn @click="change(4)" width="650px" class="ma-2 btn"
            >SHOCKED</v-btn
          >
          <v-btn @click="change(5)" width="650px" class="ma-2 btn">SMILE</v-btn>
        </td>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.btn:active,
.btn:hover,
.btn:focus {
  background-color: yellow;
}
</style>
