<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
</script>
<template>
  <v-row class="ma-2">
    <v-col cols="6" class="pb-2">
      <FirstComponent />
    </v-col>
    <v-col cols="6">
      <SecondComponent />
    </v-col>
  </v-row>
</template>
