<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <div class="text-body-1 mb-4">
    First Component <br />
    {{ counterStore.count }}
  </div>
  <v-btn @click="counterStore.increment()">INCREMENT</v-btn>
</template>
