<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <div class="text-body-1 mb-4">
    Second Component <br />
    {{ counterStore.doubleCount }}
  </div>
  <v-btn @click="counterStore.decrease()">DECREASE</v-btn>
</template>
